* {
  font-size: 18px;
  font-family: 'OptimaNovaLTPro', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'OptimaNovaLTPro', sans-serif !important;
}

button {
  font-size: 18px !important;
  font-family: 'OptimaNovaLTPro', sans-serif !important;
}

input,
optgroup,
select,
textarea {
  font-size: 18px !important;
  font-family: 'OptimaNovaLTPro', sans-serif !important;
}

.app-main__outer {
  padding-left: 24px !important;
}
