#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #ffffff6e;
}

.preloader-with-icon {
  position: fixed;
  top: calc(55% - 30px);
  left: calc(55% - 30px);
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

.ball-spin-fade-loader > div {
  background-color: blue !important;
}

@import '/node_modules/loaders.css/src/animations/ball-spin-fade-loader';
